/* body{
    font-family : 
} */
 body{
    background-color: rgb(168, 10, 231) ;
 }


.EventToDo{
    color: rgb(134, 39, 136);
    text-align: center;
    position: relative;
    top: 100px;
    width: 300px;
    left: 440px;
    height: 400px;
    border: 1px solid black;
    background-color: rgb(150, 118, 89);
}

.inputTask{
    border: 2px solid black;
    border-radius: 10px;
    height: 20px;
    width: 280px;
}


.Addbtn{
    background-color: rgb(27, 215, 244);
    height: 25px;
    width: 100px;
    border-radius: 15px;
    border-top: 0cap;
}

.eachTask{
    /* background-color: red; */
    /* padding: 10px; */
    list-style-type: none;
}

.eachTask span{
    /* border: 1px solid black; */
    
}
.deletebtn{
    background-color: red;
    /* margin: 1px; */
    margin-left: 50px;
    border-radius: 10px;
}
