.EventToDo{
    color: rgb(134, 39, 136);
    text-align: center;
    position: relative;
}

.EventUl{
    /* border: 2px solid rgb(47, 44, 44); */
    position: absolute;
    left: 40.6%;
    padding-bottom: 10px;
}

.Eventli{
    border:1px solid black;
    border-radius: 2px;
    padding:1.5px 25px;
}